/* style.css */
.notes {
    display: flex;
    justify-content: space-between;
}

.notes__sidebar {
    width: 30%;
    padding: 20px;
}

.notes__add {
    margin-bottom: 10px;
}

.notes__list-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.notes__preview {
    width: 60%;
    padding: 20px;
}

.notes__title {
    width: 100%;
    margin-bottom: 10px;
}

.notes__body {
    width: 100%;
    height: 200px;
}
